<h1>Merchants</h1>

<% @merchants.each do |merchant| %>
  <p><a href="/merchants/<%= merchant.id %>"><%= merchant.name.capitalize %></a></p>
<% end %>

<form class="center button" action="/merchants/new" method="get">
  <button type="submit" name="button">Add a new merchant</button>
</form>
