<h1>Merchants</h1>
<div class="merchant-index">
  <% @merchants.each do |merchant| %>
    <div class="merchant-box">
      <a href="/merchants/<%= merchant.id %>"><img src="<%= merchant.image %>" alt=""></a>
    </div>
  <% end %>
</div>


<form class="center button" action="/merchants/new" method="get">
  <button type="submit" name="button">Add a new merchant</button>
</form>
