<h1>New Merchant</h1>

<form class="main-form" action="/merchants/new" method="post">
  <ul>
    <li>
      <label id="name" for="name">Name: </label>
      <input type="text" name="name" required>
    </li>
    <li>
      <label id="image" for="image">Image URL: </label>
      <input type="text" name="image" required>
    </li>
    <li class="center">
      <button type="submit" name="button">Submit</button>
    </li>
  </ul>
</form>
