<h1><%= @merchant.name.capitalize %></h1>

<a href="/merchants/<%= @merchant.id %>/edit">Edit merchant</a>

<form action="/merchants/<%= @merchant.id %>/delete" method="post">
  <button type="submit"name="button">Delete merchant</button>
</form>
