<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/login.css">
  <link href="https://fonts.googleapis.com/css?family=Lora|Varela+Round|Roboto" rel="stylesheet">
  <title>Spending Tracker | Login</title>
</head>
<body>
  <form class="home-button" action="/users/<%= current_user_id %>" method="get">
    <label for="name">Username</label>
    <br>
    <input type="text" name="name" value="Catherine">
    <br>
    <label for="password">Password</label>
    <br>
    <input type="password" name="password" value="********">
    <br>
    <button type="submit">Login</button>
  </form>
</body>
</html>
