<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Lora|Varela+Round|Roboto" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/typography.css">
  <link rel="stylesheet" href="/css/forms.css">
  <link rel="stylesheet" href="/css/nav_footer.css">
  <title>Spending Tracker</title>
</head>
<body>
  <nav>
    <ul class="logo">
      <li><a href="/"><img src="/images/logo.png" alt="bank logo"></a></li>
    </ul>
    <ul>
      <li><a href="/users/<%= current_user_id %>">My Account</a></li>
      <li class="hideable"><a href="/merchants">Merchants</a></li>
      <li class="hideable"><a href="/categories">Categories</a></li>
    </ul>
  </nav>

  <div class="main-container">
    <%= yield %>

    <footer>
      <hr>
      <ul>
        <li>About</li>
        <li>Contact</li>
        <li>Careers</li>
      </ul>
    </footer>
  </div>
</body>
</html>
