a:hover {
  color: #999999;
}

a:active {
  color: #dd0000;
  font-size: 0.8em;
}

body {
  margin: 0 12vw;
  background-image: url('/images/background.jpg');
  background-size: 100% auto;
}

nav {
  margin: 5vh 0;
  text-align: center;
}

nav ul {
  padding: 2vh 0;
  margin: 0;
  list-style: none;
}

nav ul li {
  display: inline;
}

nav ul a {
  font-size: 0.8em;
  font-family: 'Varela Round', sans-serif;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  padding: 0 2vw;
}

button {
  color: #000000;
}
