* {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Varela Round', sans-serif;
  color: #333333;
  font-size: 26px;
}

h1 {
  color: #999999;
  text-align: center;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 17px;
  font-weight: bold;
}
