<h1><%= @category.name.capitalize %></h1>

<form  class="main-form" action="/categories/<%= @category.id %>/update" method="post">
  <ul>
    <li>
      <label id="name" for="name">Name: </label>
      <input type="text" name="name" value="<%= @category.name %>" required>
    </li>
    <li class="center">
      <button type="submit" name="submit">Update category</button>
    </li>
  </ul>
</form>

<form class="center" action="/categories/<%= @category.id %>/delete" method="post">
  <button class="delete" type="submit" name="delete">Delete category</button>
</form>
