<h1>Categories</h1>

<div class="categories-box">
  <% @categories.each do |category| %>
    <p><a href="/categories/<%= category.id %>"><%= category.name.capitalize %></a></p>
  <% end %>
</div>

<form class="center" action="/categories/new" method="get">
  <button type="submit" name="button">Add a new category</button>
</form>
