<h1>New Category</h1>

<form action="/categories/new" method="post">
  <label id="name" for="name">Name</label>
  <input type="text" name="name" required>

  <button type="submit" name="button">Submit</button>
</form>
