<h1>New Category</h1>

<form  class="main-form" action="/categories/new" method="post">
  <ul>
    <li>
      <label id="name" for="name">Name: </label>
      <input type="text" name="name" required>
    </li>
    <li class="center">
      <button type="submit" name="button">Submit</button>
    </li>
  </ul>
</form>
