<h1><%= @category.name %></h1>

<form action="/categories/<%= @category.id %>/edit" method="get">
  <button type="submit" name="button">Edit category</button>
</form>

<form action="/categories/<%= @category.id %>/delete" method="post">
  <button type="submit" name="delete">Delete</button>
</form>
